<h1>{{title}}</h1>
<p>ciao works! e menomale che funziona</p>

<button matButton="elevated" (click)="onClick($event)">Basic</button>
<form class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" >
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
</form>

@if (isVisible) {
    <div>Sono un div</div>
} @else {
    <div>sono il div else</div>
}
<ul>
    @for (persona of persone; track $index) {
    <li><strong>{{persona.nome.toUpperCase()}} </strong> {{persona.cognome}} ha {{persona.eta}} anni</li>
    @if (persona.isOnline) {
        <p>Sono Online</p>
    } @else {
        <p>Sono Offline</p>
    }
}
</ul>
