.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.cerchioOnline{
  width: 15px;
  height: 15px;
  background-color: green;
}
.cerchioOffline{
  width: 15px;
  height: 15px;
  background-color: red;
}
.cerchio{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: blue;
}
li{
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.ball{
  border-radius: 50%;
  margin: 10px;
  background-color: blue;
}