<h1>{{title}}</h1>
<p>ciao works! e menomale che funziona</p>

<button matButton="elevated" (click)="onClick($event)">Basic</button>
<form class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" >
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
</form>

@if (isVisible) {
    <div>Sono un div</div>
} @else {
    <div>sono il div else</div>
}
<ul>
    @for (persona of persone; track $index) {
    
    <li><div [ngClass]="{cerchioOnline: persona.isOnline, cerchioOffline: !persona.isOnline}"></div>
        <strong>{{persona.nome.toUpperCase()}} </strong> {{persona.cognome}} ha {{persona.eta}} anni</li>
}
</ul>

@switch (testo) {
    @case ("ciao") {
        <p>Numero 4</p>
    }
    @case ("ciaooo") {
        <p>Numero 5</p>
    }
    @case ("cia") {
        <p>Numero 6</p>
    }
    @default {
        <p>default</p>
    }
}
<div>{{persone[0].nome}}</div>

<app-child [data]="persone"></app-child>