.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.cerchioOnline{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
}
.cerchioOffline{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
}
